{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Özel Ders</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<header class="intro" data-background="{% static 'rom.jpeg' %}">
      <div class="overlay"></div>
      <div class="intro-body">
        <h1>Bire bir dershane</h1>
        <h4>Neden özel ders?</h4><a class="page-scroll" href="#contact2"><span class="mouse"><span><i class="icon ion-ios-arrow-down"></i></span></span></a>
      </div>
    </header>
<section class="section-small section-offcet bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h2>Face to Face</h2>
            <p>Klasik eğitim metotlarıyla öğrenci bazen zor anlar yaşayabilir. Yaklaşık 30 kişilik sınıfta bir yandan dersini dinlemeye çalışırken bir yandan da dikkatini dağıtan çevresel faktörler ile mücadele etmek zorunda kalabilir. Bu durum öğrencinin derslerden geri kalmasına hatta dönemi verimsiz geçirmesine neden olabilir. Özellikle günümüz yoğun sınav ve ders programları için bir günlük ders eksiği öğrenciye pahalıya mal olabilir.
              Öğrencinin eğitiminde bire bir özel ders önemli bir yer tutmaktadır. Öğrencinin derslere hakimiyetini arttırırken aynı zamanda sistematik ve verimli çalışma programını hazırlamasına zemin hazırlar. </p>
          </div>
          <div class="col-lg-7 carousel-item wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
            <div class="carousel slide carousel-fade" id="carousel-light2">
              <ol class="carousel-indicators">
                <li class="active" data-target="#carousel-light2" data-slide-to="0"></li>
                <li data-target="#carousel-light2" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active"><img class="center-block" src="{% static '3333.jpeg' %}" alt=""></div>
                <div class="item"><img class="center-block" src="{% static '4444.webp' %}" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="section-small" id="contact2">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-md-4">
            <p><i class="fa fa-phone la-fw la-lg"></i> +90 530 447 88 48 <br> <i class="fa fa-envelope la-fw la-lg"></i> info@???.com <br> <i class="fa fa-map-marker la-fw la-lg"></i> Akyaka
            </p>
            <hr>
            <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
            <form name="sentMessage" novalidate="" method="POST">
              {% csrf_token %}
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label class="sr-only control-label" for="name">İsim Soyisim</label>
                  <input name="name" class="form-control input-lg" id="name" type="text" placeholder="İsminiz" required="" data-validation-required-message="Please enter name"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label class="sr-only control-label" for="email">Email</label>
                  <input name="email" class="form-control input-lg" id="email" type="email" placeholder="Email" required="" data-validation-required-message="Please enter email"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label class="sr-only control-label" for="message">Message</label>
                  <textarea name="info" class="form-control input-lg" id="message" rows="2" placeholder="Mesajınız" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea><span class="help-block text-danger"></span>
                </div>
              </div>
              <div id="success"></div>
              <button name="btnSubmit" class="btn btn-dark btn-lg" type="submit">Gönder</button>
            </form>
          </div>
          <div class="col-md-8">
            <!-- Map Section-->
            <img width="900" class="wow slideInRight center-block" src="{% static 'special3.jpg' %}" alt="" data-wow-duration="2s" animation-duration="2s">
          </div>
        </div>
      </div>
    </section>
<br>
<br>
<br>

{% endblock %}


{% block jss %}
{% endblock %}